image:
  repository: store-platform-backend
  tag: "1.0"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: traefik
  host: localhost
  tls:
    enabled: false
    secretName: ""

storageClass: local-path

replicaCount: 1